<!DOCTYPE html>
<html lang="en">
<head>

     <title>Digital Trend HTML Template</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <link rel="stylesheet" href="css/bootstrap.min.css">

    
     <link rel="stylesheet" href="../static/css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/aos.css">
     <link rel="stylesheet" href="css/owl.carousel.min.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <link rel="stylesheet" href="../static/css/templatemo-digital-trend.css">

</head>
<body> 

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              Scrapper Menia
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#project_detail" class="nav-link smoothScroll">Project Detail</a>
                    </li> 
                    <li class="nav-item">
                        <a href="scrap.html" class="nav-link contact">Start Scraping</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">
                                   <h1 class="text-white" data-aos="fade-up">We are ready for web scraping!</h1>
                                   <a href="scrap.html" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Let Start! </a>     
                              </div>
                        </div>
                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
                            <img src="../static/images/working-girl.png" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section> 
     <!-- project detail -->
     <section class="about section-padding pb-0" id="project_detail">
          <div class="container">
               <div class="row">
                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">
                              <h2 class="mb-4" data-aos="fade-up">This is a <strong>Web scraping</strong> Project</h2>
                              <p class="mb-0" data-aos="fade-up"><strong>Members: </strong>
                              <br><br> <strong>Shoaib sulman</strong>(BSSEF17-36)  
                              <br><br> <strong>Muhammad Rebal</strong>(BSSEF17-60) </p>
                         </div>
                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">
                          <img src="../static/images/office.png" class="img-fluid" alt="office">
                        </div>
                    </div> 
               </div>
          </div>
     </section> 
    
     <!-- SCRIPTS -->
     <script src="../staic/js/jquery.min.js"></script>
     <script src="../staic/js/bootstrap.min.js"></script>
     <script src="../staic/js/aos.js"></script>
     <script src="../staic/js/owl.carousel.min.js"></script>
     <script src="../staic/js/smoothscroll.js"></script>
     <script src="../staic/js/custom.js"></script>

</body>
</html>